<%# Accepts: check (required) %>

<% if check.has_tip? %>
  <li id="tip_suggestion" style="display: none;" data-turbo-refresh-animate></li>
<% else %>
  <li id="tip_suggestion" class="list-group-item py-3 px-3" data-turbo-refresh-animate data-turbo-refresh-version="<%= check.tip&.cache_key_with_version || 'no_tip' %>">
    <div class="text-muted mb-2">Add a tip:</div>
    <%= render partial: "global_fees/tip_controls", locals: { check: check, current_tip: nil } %>
  </li>
<% end %>
