<%# Accepts: participant (required), check (required) %>

<li id="<%= dom_id(participant) %>" class="list-group-item py-3 px-3" data-turbo-refresh-animate>
  <div class="d-flex flex-column gap-1">
    <span><%= participant.name %></span>
    <div class="d-flex gap-2 small">
      <%= link_to "Edit", edit_check_participant_path(check, participant), class: "text-muted", data: { turbo_stream: true } %>
      <%= link_to "Delete", check_participant_path(check, participant), class: "text-muted", data: { turbo_method: :delete, turbo_confirm: t("participants.delete_confirm") } %>
    </div>
  </div>
</li>
