<div class="container py-4">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card">
        <div class="card-header py-3">
          <strong class="ls-display fs-5">Edit Check</strong>
        </div>
        <div class="card-body">
          <p class="text-muted">Check editing form coming soon.</p>
          <%= link_to "Back to Check", @check, class: "sticker ghost" %>
        </div>
      </div>
    </div>
  </div>
</div>